.date-picker{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 5px 5px black ;
  padding: 5px;
  padding-top: 2px;
  box-sizing: border-box;
  background-color: var(--bg-colour);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  user-select: none;
}
.date-picker-container{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

.date-picker-long-select{
  outline: solid 1px hsl(120, 50%, 45%);
}

.date-picker-day{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  background-color: hsl(34, 78%, 91%);
  border-radius: 3px;
  user-select: none;
}
.date-picker-month{
  width: 50px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.date-picker-year{
  width: 50px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.date-picker-day:hover{
  outline: solid 2px black;
}

.date-picker-week{
  display: flex;
  margin: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.day-of-week-label{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  user-select: none;
}

.day-of-week-sun{
  background-color: hsl(0, 50%, 71%);
}

.day-of-week-label:hover{
  outline: none;
}

.not-current-month{
  color: lightgray;
  background-color: hsl(0, 0%, 95%);
}

.day-selected{
  background-color: hsl(161, 51%, 50%);
}

.day-selected:hover{
  background-color: hsl(161, 51%, 50%);
}

.date-picker-navHeader{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-picker-navArrow{
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  user-select: none;
}

.date-picker-navArrow:hover{
  outline: solid 2px black;
}

.date-picker-month-select{
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: block;
  background-color: bisque;
  opacity: 0.5;
}