.date-picker{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 5px 5px black ;
  padding-bottom: 5px;
  box-sizing: border-box;
  background-color: var(--bg-colour);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  user-select: none;
}
.date-picker-container{
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
}

.date-picker-long-select{
  outline: solid 1px hsl(120, 50%, 45%);
}

.date-picker-day{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  background-color: hsl(34, 78%, 91%);
  border-radius: 3px;
  user-select: none;
}
.date-picker-month{
  width: 50px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.date-picker-year{
  width: 50px;
  height: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.date-picker-day:hover{
  outline: solid 2px black;
}

.date-picker-week{
  display: flex;
  margin: 1px;
  margin-left: 1px;
  margin-right: 1px;
}

.day-of-week-label{
  border-radius: 50%;
  font-size: 1rem;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  user-select: none;
}

.day-of-week-sun{
  background-color: hsl(0, 50%, 71%);
}

.day-of-week-label:hover{
  outline: none;
}

.not-current-month{
  color: lightgray;
  background-color: hsl(0, 0%, 95%);
}

.day-selected{
  background-color: hsl(161, 51%, 50%);
}

.day-selected:hover{
  background-color: hsl(161, 51%, 50%);
}

.date-picker-navHeader{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(160, 40%, 85%);
}

.date-picker-navArrow{
  width: 35px;
  height: 35px;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  user-select: none;
}

.date-picker-navArrow:hover{
  outline: solid 2px black;
}

.date-picker-month-select{
  width: 100px;
  height: 100px;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 2px hsl(0, 0%, 30%);
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.date-picker-month-select-show{
  display: flex;
}

.date-picker-month-select-name{
    min-height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
}

.date-picker-month-name-alt{
  background-color: hsl(0, 0%, 100%);
}


.date-picker-month-select-selected{
  background-color: hsl(56, 38%, 78%);
}